# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
.nyc_output
coverage

# Next.js
.next/
out/
build/

# IDE
.vscode
.idea
*.swp
*.swo
.DS_Store

# Environment variables
.env
.env.local
.env.*.local

# Logs
logs/
*.log

# OS
Thumbs.db
